.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10%;
}

.div2 ul {
  display: flex;
  gap: 1.5em;
}
.div2 ul li {
  /* display: inline-block; */
  /* padding-top: 0.5em;
  padding-right: 0.5em; */
  list-style: none;
  font-size: larger;
}
.div2 ul li:hover {
  cursor: pointer;
  color: #4c4c6d;
  transition: 0.5s;
}
