.main_div {
  height: 450px;
  padding-inline: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.sub_div {
  background-color: #f6fff8;
  border-radius: 10px;
  gap: 1rem;
  padding: 2em 4em;
  width: 551px;
}
.login_btn {
  padding: 0.5em 1em;
}
